<!DOCTYPE html>
<html>
<head>
    <title>upload</title>
</head>
<body>
    <form action = "/success" method = "post" enctype="multipart/form-data">

        <input type="file" name="file" />
        </br>
        <input type="file" name="file2" />

        <input type = "submit" value="Upload">
    </form>

   {% if uploaded and img %}
        <br/>
        <p>File uploaded successfully</p>
        <p>File Name: {{name}} </p>
        <p>Info:{{result}}</p>
        <p><img src='{{image1}}' style="height:200px"></p>
   {% endif %}

 {% if uploaded and audio %}

     <audio controls style="height:50px; ">
     {{name}}
      <source src='/{{audiofile}}' type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
   <p>
       {{audio_text}}
   </p>
   {% endif %}

</body>
</html>